*.py[cod]
rfdiffusion.egg-info

models/
schedules/
outputs/
test_outputs/

examples/ppi_scaffolds
examples/example_outputs

tests/.results.json
tests/input_pdbs
tests/outputs
tests/ppi_scaffolds
tests/reference_outputs/
tests/target_folds
tests/tim_barrel_scaffold
tests/tests_*
